body,
html {
	width: 100%
	height:100%;
}

body {
	font-family: 'Arvo', serif;
}

b,
strong {
	font-size: xx-large;
}

hr {
	max-width: 65px;
	border-width: 3px;
	border-color: silver; 
}

header.startup {
	background-position: center;
	background-image: url(ballon.jpg);
	background-size: cover;
	width: 1366px;
    height: 626px;
}

header.startup hr {
	margin-top: 200px;
	margin-bottom: -5px;
}

header.startup h1 {
	font-size: 20px;
}

.btn {
	font-weight: 700px;
	text-transform: uppercase;
	border-radius: 300px;
	font-family: 'Arvo', serif;
}

.btn-xl {
	padding: 1px 2px;
}

.btn-primary {
    background-color: #801515;
    border-color: #D4B56A;
}

.btn-primary:hover {
    background-color: #172457;
    border-color: #116611;
}